<%= form_for @url, remote: true, html: { class: 'form-horizontal'} do |f| %>
  <% if @url.errors.any? %>
      <p class="text-danger">
        <%= pluralize(@url.errors.count, "error") %> prohibited
        this url from being saved:
      <ul class="text-danger">
        <% @url.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
      </p>
  <% end %>
  <%= f.hidden_field :user_id %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :url, {class: 'form-control', placeholder: 'http://google.com'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit 'Create', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>