<% if @url.errors.empty? %>
    $("#new_url").html("<%= escape_javascript(render('urls/tiny_url', url: @url)) %>");
<% else %>
    $("#new_url").html("<%= escape_javascript(render('urls/form')) %>");
<% end %>
