<% provide(:title, 'Home') %>
<h1>Welcome to Numgames Test App</h1>
<% if @urls %>
    <h3>My Tiny Urls:</h3>
    <ul class="urls">
      <%= render @urls %>
    </ul>
    <%= will_paginate @urls %>
<% end %>